# Answer the following questions using only builtin Python datatypes and functions. Do not use Numpy or Scipy (i.e. No library imports allowed)

# Q1. Write a function that return the range (maximum and minimun) of a given list of numbers

In [9]:
def min_max(num):
  num = [2,5,8,9,5]
print("max value",max(num))
print("min value",min(num))
min_max(num)

max value 9
min value 2

## Q2. Write function that returns mean value of a list of numbers

In [64]:
def mean():
  n = [2,3,6,8,9]
  n1 = sum(n)
  print("mean is",n1/len(n))
mean()

mean is 5.6

# Q3. Write a function that returns the median value of a list of numbers

In [31]:
def median():
  l = [2,5,8,9,7]
  l = sorted(l)
  n = len(l)
  if n % 2!= 0:
    num1 = l[((n+1)//2)-1]
    num2 = l[(n//2)-1] + l[((n//2)+1)-1]
    print("median is",num1)
  else:
    print("median is",num2)
median()

median is 7

## Q4. Write a function to return the mod of a list of numbers, if no mod exists, it should return None. If more than one mod exist, return the mod values as list

## Q5. Write function to compute a given percentile value (e.g. 90th percentile) of a list of numbers

In [33]:
def percentile():
  n = [10,20,30,40,50]
  num = int(input("enter your number:"))
  percentile = int((num/100) * (len(n)+1))
  print("percentile is:", n[percentile-1])
percentile()

enter your number:30
percentile is: 10

# Q6. Write a function that returns the lower bound of a list of numbers

In [49]:
def quartile():
  n = [2,12,5,7,8]
  n = sorted(n)
  Q1 = int((25/100)*(len(n)+1))
  Q3 = int((75/100)*(len(n)+1))
  print("Q1 is :",n[Q1-1])
  print("Q3 is :",n[Q3-1])
  print("IQR is :",n[Q3-1]-n[Q1-1])
  lower_bound = (Q1 - 1.5 * (Q3 - Q1))
  print("lower bound is :",lower_bound)
quartile()

Q1 is : 2
Q3 is : 8
IQR is : 6
lower bound is : -3.5

## Q7. Write function to return any outliers from a given list of numbers, if no outliers present it should return None

In [90]:
def outliers():
  n = [2,12,5,7,8]
  n = sorted(n)
  Q1 = int((25/100)*(len(n)+1))
  Q3 = int((75/100)*(len(n)+1))
  print("Q1 is :",n[Q1-1])
  print("Q3 is :",n[Q3])
  IQR = n[Q3] - n[Q1-1]
  print("IQR is :",IQR)
  lower_bound = n[Q1-1] - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR
  print("lower bound is :",lower_bound)
  print("upper bound is :",upper_bound)
  for i in n:
    if (i < lower_bound or i > upper_bound):
     print("ouliers are present",i)
  else:
    None
outliers()

Q1 is : 2
Q3 is : 12
IQR is : 10
lower bound is : -13.0
upper bound is : 19.0

##Q8. Write a function to return standard deviation of a list of numbers

In [79]:
def sd():
  n = [2,3,6,8,9]
  n1 = sum(n)
  mean = n1/len(n)
  print("mean is",n1/len(n))
  var = sum((x-mean)**2 for x in n)/len(n)
  print("variance is", var)
  sd = var**0.5
  print("standard deviation %.2f"%sd)
sd()

mean is 5.6
variance is 7.44
standard deviation 2.73

## Q9. Write function to compute and return Z-score values of a list of numbers

In [84]:
def z_score():
  n = [2,3,6,8,9]
  n1 = sum(n)
  mean = n1/len(n)
  print("mean is",n1/len(n))
  var = sum((x-mean)**2 for x in n)/len(n)
  print("variance is", var)
  sd = var**0.5
  for i in n:
    z = (i-mean)/sd
    print("z_score is:%.2f"%z)
z_score()

mean is 5.6
variance is 7.44
z_score is:-1.32
z_score is:-0.95
z_score is:0.15
z_score is:0.88
z_score is:1.25

## Q10. Write a function to compute and return the Pearson correlation coefficient value of two list of numbers

In [88]:
x = [2,4,8,7,1]
y = [1,2,4,5,3]
mean_x = sum(x)/len(x)
mean_y = sum(y)/len(y)
  var = sum((x-mean_x)*(y-y_mean) for i in x)

TypeError: 'float' object is not iterable